
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@700&display=swap');

/* add font family for all */

*{
   margin:0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif; 
}

#navbar{
    display: flex;
    /* border:1px solid red; */
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:100%;
    height:70px;
    
}
img{
    width:150px;
    height: 85px;
    padding-bottom:15px;
    margin-left: 15px;
}

/* given style to navpart1 */

.navpart1{
    display: flex;
    /* border: 1px solid red; */
    width:500px;
    height:50px;
    text-align: center;
}

.dropbtn{
    width:105px;
    height:42px;
    background-color: rgb(31, 96, 238);
    color:white;
    margin: 13px 0px 0px 25px;
    border-radius: 4px;
}
.search{
    height:50px;
    width:50px;
    margin-top: 10px;
    font-size: 20px; 
    background-color: rgb(31, 96, 238);
    color:white;
    border-right: none;
}

/* navpart2 added style */

.navpart2{
    display: flex;
    margin-left:300px ;
}
h5{
    margin-left: 17px;
    margin-top: 24px;
    cursor: pointer;
    font-size: 13px;
}
.bellicon{
    font-size: 30px;
    color:rgba(136, 49, 180, 0.542);
    margin:12px 0px 0px 25px;
}
.navpart3{
    /* border:1px solid red; */
    width:180px;
    height:60px;
    margin:5px 0px 0px 65px;
}
.loginicon{
    border-radius: 60%;
    width:53px;
    font-size: 30px;
    padding-left: 12px;
    margin-top: 4px;
    background-color: rgb(21, 174, 221);
    color: whitesmoke;
}

