#div1, #div2{
    display: flex;
    padding: 40px;
    width: 90%;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 #div1 > img{
     height: 170px;
     width: 170px;
 }
 #div2{
     margin-top: 100px;
 }
 #div1 > p{
    font-size: 21px;
 }
 #k{
     display: flex;
     height: 130px;
     width: 450px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     border-radius: 3px;
     margin-left: 130px;
     padding: 20px;
 }
 #k > img{
  height: 150px;
  width: 140px;

 }
 #kx{
     padding-left: 180px;
 }
 p{
     margin: 10px;
 }
 .c1{
  display: flex;
     height: 180px;
     width: 450px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     border-radius: 3px;
     margin-left: 100px;
     padding: 20px;
 }      
  #b31{
      height: 25px;
      width: 170px;
      background-color: #0056d2;
      margin-right: 5px;
      color: #fff;
      font-weight: bold;
      padding: 20px;
      margin: auto;
      margin-top: 100px;
      font-weight: bold;
  }
  #a{
    height: 230px;
    width: 100%;
    background-color: #dcf1fa;
    margin-top: 100px;
    padding: 6px;
    font-size: 20px;
    display: flex;
    gap: 8px;
    text-align: center;
}
#a > .info1{
   padding-left: 80px;
   padding-top: 190px;
   padding-right: 250px;
   font-size: 32px;
}
  .info1{
      color: #382d8b;
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-family: "Source Sans Pro",Arial,sans-serif;
      font-weight: 600;
      letter-spacing: -0.1px;
      margin-bottom: 16px;
  }   
  #nav2{
      display: flex;
      font-size: 18px;
      font-weight: bold;
      margin-left: 80px;
      gap: 80px;
      padding: 8px;
  }
  #nav21:hover {
    text-decoration: underline 3px solid blue;
    }
  #nav22:hover{
    text-decoration: underline 3px solid blue;
  }
  #nav23:hover {
    text-decoration: underline 3px solid blue;
  }
  .bt1{
    height: 25px;
    width: 120px;
    border: 1px solid #0056d2;
    background-color: #fff;
    margin-right: 5px;
    color: #0056d2;
    padding-top: 10px;
    padding-left: 40px;
    font-weight: bold;
    border-radius: 2px;
}