#bluebox{
    padding-left: 100px;
    background: blue;
    height: 550px;
    width: 100%;
    color: #fff;
    font-family: "Source Sans Pro",Arial,sans-serif;
}
#b2{
    font-size: 2.75rem;
    line-height: 3.2rem;
    letter-spacing: -0.1px;
    font-weight: 600;
}
.b1{
    vertical-align: baseline;
    display: inline;
    padding: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    letter-spacing: -0.1px;
    color: #fff;
}